*{
	margin:0;
	padding:0;
}

body{
	font-family:" Open Sans", Tahoma,sans-serif;
}

.container{
	width:1140px;
	margin: 0 auto 0 auto;
}

header{
	background-color:#f6f6f6;
	height: 40px;
}

a{
	color:#3F3F3F;
	text-decoration: none;
}

 a: hover{
	text-decoration: underline;
}

header .container{
	padding-top: 7px;
	padding-bottom: 7px;
}

.logo-text{
	font-size:30px;
	color:#ffffff;
	font-weight:bold;
	background-color: rgd(49,213,118);
}

.header-city, header-topmenu,header-phone{
		float:left;
}
header nav ul li{
	display: inline-block;
}

.header-topmenu1{
	float:right;
}

.header-main{
	height: 60px;
	background-color: rgb(49,213,118);
}



.btn {
    background-color: rgb(49,213,118);
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
	outline: none; 
}


.btn:hover {
    background-color: rgb(50,220,118);
}

.btn_bask {
    background-color: #f5f5f5;
    border: none;
    color: black;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
	min-width: 80px;
	line-height: 15px !important;
	border-radius: 10px;
	outline: none; 

}

.btn_bask:hover {
    background-color: #d3d3d3;
}


	
.header-main-search input{
	border-radius: 10px;
	 width: 220px;
    height: 20px;
    padding: 10px ;
    float: left;   
    font: bold 12px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    background: #eee;
    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
    outline: none; 

}
	
.header-main-search button{
	height: 40px;
	float: right;
	cursor: pointer;
	border-radius: 10px;
    padding: 10px ; 
    font: bold 12px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    background: #eee;
    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
    outline: none; 

}	








li a i{
    padding-right: 5px; 
	padding-left: 10px;
}

i{
	padding-right: 10px;
	padding-left: 10px;
}

.pull-left{
	float:left;
}

.pull-right{
	float:right;
}

header nav ul li{
	float:left;
	list-style-type:none;
}


header nav ul li a{
	padding: 5px 10px;
}

.clearfix{
	clear:both;
}

